.DS_Store

node_modules

.vscode/

billing/
dt-review-bot-*.json

*.log

typings/
index.js
index.js.map
index.d.ts
lib/**/*.js
lib/**/*.js.map
lib/**/*.d.ts
utils/**/*.js
utils/**/*.js.map
utils/**/*.d.ts

token.json
.envrc
